@import "~vue-color-kit/dist/vue-color-kit.css";

@layer base {

  .btn-primary {
    @apply font-medium bg-purple-500 hover:bg-purple-600 text-white shadow-sm rounded-lg px-5 py-2.5;
  }

  h1 {
    @apply text-3xl sm:text-5xl text-center font-semibold m-10;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-white;
  }

}

.next-step, .back-step {
  width: 200px;
  text-transform: uppercase;
  font-weight: bold;
}

.ant-modal-title {
  text-align: center;
}

.ant-steps-finish-icon {
  vertical-align: .075em;
}
